@import "variables.scss";

.main {
  &__wrapper {
    margin: 3rem 2.5rem;

    @include respond-medium {
      margin: 2.5rem 4rem;
    }

    @include respond-large {
      margin: 3rem 5rem;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__profile-img {
    width: 15rem;

    @include respond-medium {
      width: 22rem;
    }

    @include respond-large {
      width: 24rem;
    }
  }

  &__first-text {
    color: $primary-color;
  }

  &__paragraph {
    color: $primary-color;
    text-align: justify;
    line-height: 1.5rem;

    @include respond-moreLarge {
      font-size: 1.05rem;
    }
  }

  &--row {
    @include respond-large {
      flex-direction: row;
    }
  }
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__text {
    color: $primary-color;
    font-weight: 600;

    @include respond-large {
      font-size: 1.25rem;
    }
  }
}

.about-container {
  display: flex;
  flex-direction: column;

  @include respond-large {
    flex-direction: row;
  }

  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.details-container {
  text-align: center;
  line-height: 2rem;
  @include border-container-style;
  padding: $padding-container;
  width: 20rem;
  height: 22rem;

  @include respond-medium {
    height: 22rem;
  }

  @include respond-large {
    width: 100%;
    height: 24rem;
  }

  @include respond-moreLarge {
    height: 18rem;
    padding: 2rem;
  }

  &__text {
    color: $primary-color;

    &--bold {
      font-weight: 900;
      font-size: 0.9rem;
      color: rgb(0, 0, 0);
    }
  }
}

.info__container {
  margin: 0.5rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  @include border-container-style;
  width: 100%;
  padding: $padding-container;

  @include respond-medium {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 1.2rem;
  }

  @include respond-large {
    padding: 2.5rem;
    gap: 2.3rem;
  }

  &__skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 8.5rem;

    @include respond-medium {
      font-size: 0.8rem;
    }

    @include respond-large {
      width: 10rem;
      font-size: 1rem;
    }
  }
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  &__project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @include border-container-style;
    padding: $padding-container;
  }

  &__img {
    height: 12.5rem;
    max-width: 18rem;
    object-fit: cover;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;

  @include respond-medium {
    padding: 1.5rem 3rem;
  }

  @include respond-large {
    flex-direction: row;
    gap: 2rem;
    padding: 1.5rem;
  }

  justify-content: center;
  align-items: center;
  gap: 1rem;
  @include border-container-style;
  padding: 2rem 2.5rem;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      @include transform-hover;
    }
  }

  &__link {
    color: rgb(53, 53, 53);
    text-decoration: none;

    &:hover {
      @include link-hover;
    }
  }
}

.buttons-container {
  display: flex;
  gap: 1.5rem;

  &--margin {
    margin-top: 1rem;
  }

  &__button {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    border: rgb(53, 53, 53) 0.1rem solid;
    font-size: 80%;
    font-weight: 600;
    width: 8rem;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;

    &:hover {
      color: $secondary-color;
      background-color: rgb(53, 53, 53);
    }

    &--dark {
      color: $secondary-color;
      background-color: rgb(53, 53, 53);

      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}

.icon {
  width: 3rem;

  @include respond-medium {
    width: 2rem;
  }

  @include respond-large {
    width: 3rem;
  }

  &--hover {
    &:hover {
      @include transform-hover;
    }
  }
}

@include respond-large {
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
