@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

#scroll-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}

#scroll-spacer {
  height: 0;
}

a:focus-visible,
button:focus-visible {
  @include focus-ring;
}

@import "header.scss";
@import "main.scss";
@import "footer.scss";
